Source: gz-cmake3
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 11)
Vcs-Browser: https://github.com/gazebosim/gz-cmake
Vcs-Git: https://github.com/gazebosim/gz-cmake.git
Standards-Version: 4.5.1
Homepage: http://gazebosim.org/

Package: libgz-cmake3-dev
Architecture: any
Section: libdevel
Depends: cmake, ${misc:Depends}
Breaks: libignition-cmake3-dev (<< 2.999.999+nightly+git20220630+1rea69f3cd041c33f9c65946e71f0f199220bd8966-1)
Replaces: libignition-cmake3-dev (<< 2.999.999+nightly+git20220630+1rea69f3cd041c33f9c65946e71f0f199220bd8966-1)
Multi-Arch: same
Description: Gazebo CMake Library - Development files
 CMake modules to be used by the Gazebo projects.
 .
 This package is required to build Gazebo projects, as well as to link your
 third party projects against them. It provides modules that are used to find
 dependencies of Gazebo projects and generate cmake targets for consumers of
 Gazebo projects to link against.

Package: libignition-cmake3-dev
Depends: libgz-cmake3-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
