Source: ignition-cmake3
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 11)
Vcs-Browser: https://github.com/ignitionrobotics/ign-cmake
Vcs-Git: https://github.com/ignitionrobotics/ign-cmake.git
Standards-Version: 4.5.1
Homepage: http://ignitionrobotics.org/

Package: libignition-cmake3-dev
Architecture: any
Section: libdevel
Depends: cmake, ${misc:Depends}
Breaks: libignition-cmake-dev (<= 2.10.0-2)
Replaces: libignition-cmake-dev (<= 2.10.0-2)
Multi-Arch: same
Description: Ignition Robotics CMake Library - Development files
 CMake modules to be used by the Ignition projects.
 .
 This package is required to build ignition projects, as well as to link your
 third party projects against them. It provides modules that are used to find
 dependencies of ignition projects and generate cmake targets for consumers of
 ignition projects to link against.
